.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.explanation {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0%;
    font-size: 75%;
    color: black;
}

p {
    color: black;
}

.material-icons {
    color: black;
}

.CardContainer {
    width: 100%;
    padding-left: 10%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    height: 100vh;
}

.singleCard {
    width: 90%;
    margin-top: 5%;
}

.bothInline {
    color: white;
}